@model ArticleViewModel
@{
    ViewData["Title"] = "Index";
}

<h2 class="viewTitles">Top 10 Most Popular Articles</h2>
<br /><br />

@foreach (var item in Model.articlesList)
{
    <div class="col-md-3">
        <div class="col-md-12 blogCards text-center">
            @*<a href="/Blog/ReadBlog/@item.ID"></a>*@
            <a asp-controller="Article" asp-action="ReadArticle" asp-route-id="@item.ID"><img src="~/Images/@item.DefaultImage" /></a>
        </div>
        <div class="col-md-12 blogCards">
            <h3>@item.Title </h3>
        </div>

        <div class="col-md-12 blogCards">
            <h5>@item.Text. </h5>
        </div>
        <div class="col-md-12 blogCards">
            @*@Html.ActionLink("Read", "ReadBlog", "Blog", new { id = item.ID }, new { @class = "btn btn-info" })*@
            <a asp-controller="Article" asp-action="ReadArticle" asp-route-id="@item.ID" class="btn btn-info">Read</a>
            <br /> <br />

        </div>
    </div>
}