@model AccountViewModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";
}


<h2>ChangePassword</h2>

<div class="col-md-6">
    <form asp-controller="Account" asp-action="ChangePassword" method="post">
        <div class="input-group">
            <span class="input-group-addon " id="txtOldPass">Old password</span>
            <input asp-for="OldPassword" type="password" name="OldPassword" class="form-control" required="required" aria_describedby="txtOldPass" />
        </div> <br />

        <div class="input-group">
            <span class="input-group-addon " id="txtNewPass">New password</span>
            <input asp-for="Password1" type="password" name="Password1" class="form-control" required="required" aria_describedby="txtNewPass" />
        </div> <br />

        <div class="input-group">
            <span class="input-group-addon" id="txtVerifyPass">Verify password</span>
            <input asp-for="Password2" type="password" name="Password2" class="form-control" required="required" aria_describedby="txtVerifyPass" />
        </div> <br />
        <input class="btn btn-info" value="Save changes" type="submit" />
    </form>

    <br /><br />
    <div class="alert alert-@ViewBag.Status" role="alert">@ViewBag.Warning</div>
</div>