@model Users
@{
    ViewData["Title"] = "ForgotPassword";
}

<h2>ForgotPassword</h2>
<div class="col-md-6">

    <form asp-controller="Account" asp-action="ForgotPassword" method="post">
        <label>Enter your email or nickname.</label>
        <input asp-for="Email" type="text" name="Email" class = "form-control" required = "required" /><br />
        <button class="form-control btn btn-primary" type="submit">Create Password</button>
    </form>
    <br /><br />
    <div class="alert alert-@ViewBag.Status" role="alert">@ViewBag.Warning</div>
</div>