
@{
    ViewData["Title"] = "Profiles";
    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";
}


<br /><br /><br /><br />
<h2>Welcome to Article Publishing and Discussion Platform </h2>

<p>

</p>